*{
    margin: 0px;
    padding: 0px;
   
    
}
nav a {
    text-decoration: none;
   color: rgb(105, 96, 96);
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: large;
    
    text-align: center;
    padding: 12px ;
    float: left;

   
    
}
nav{
    background-color: rgb(255, 255, 254);
    display: flex;
    justify-content: left;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0.1px 0.1px 3px;
  
   
}

nav a:hover{
   color: rgb(5, 5, 5);
    box-shadow: 0.5px 100px 500px;
    /* text-decoration: underline; */
    
}

iframe{
    margin: 100px;
}
.d2{
    width: 100%;
}

.mission{
    
    font-size: 30px;
    text-align: center;
    width:60%;
    position: relative;
    color: rgb(56, 51, 51);
    left: 270px;
    bottom: -55px;
    font-family: "Google Sans", Roboto, Arial, Helvetica, sans-serif;

    
    font-weight: lighter;
}


    
#blue{
    color:#4285f4;
}
#green{
    color:#34a853;

}
#red{
    color:#ea4335;
}
iframe{
    width: 1010px;
    height: 546px;
    border-radius: 10px;
    position: relative;
    top: 50px;
    align-content: center;
}
.look{

text-align: center;
margin-left: 100px;
font-size: 32px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: lighter;
width: 1010px;

}

#ex{
text-decoration: none;

font-size: 20px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: #1a73e8;
padding: 12px;
margin-left: 500px;
position: relative;
top: 50px;
border-radius: 5px;


}
#ex:hover{ background-color: #f2f7ff;
color: rgb(11, 64, 138);




}
h1{

font-size:50px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-weight: lighter;
position: relative;
bottom: -150px;
width: 1010px;
margin-left: 100px;
text-align: center;

}
#view{
text-decoration: none;
font-size: 22px;
background-color: #2674f1;
color: white;
padding: 12px 20px ; 
border-radius: 5px;
position: relative;
left: 350px;
top: 215px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#get{
color:#1a73e8; 
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 1.2em;
height: 100px;
width: 100px;
border-width: 0.4px;
border-color: #c8ced8;
border-style: solid;
padding: 14px 30px ;
text-decoration: none;
border-radius: 2px;
position: relative;
left: 600px;
top: 192px;

}
#book{
width: 75%;
height: 100%;
position: relative;
top: 300px;





}
#bk{
display: flex;
justify-content: center;
align-items: center;

}

#Dis{
text-decoration: none;
font-family: "Google Sans", Roboto, Arial, Helvetica, sans-serif;
color: black;
font-size: 28px;


letter-spacing: 1px;


margin-top: 360px;
margin-left: auto;
margin-right: auto;
width: 55%;





}
#dis2{
display: flex;
justify-content: center;
align-items: center;
}
#learn_more{
text-decoration: none;
font-size: 18px;
font-family: "Google Sans", Roboto, Arial, Helvetica, sans-serif;
padding: 20px;
color: #2674f1 ;


}
#lern
{
display: flex;
justify-content: center;
align-items: center;
}
#committed{
text-align: center;
font-family: "Google Sans", Roboto, Arial, Helvetica, sans-serif;



}
.img100{
margin: 360px 20px 20px 20px;

display: flex;
justify-content: space-around;




}

.img2{

padding: 5px;
height: 210px;
border-radius: 20px;


}
#new{
height: 330px;
} 
.commitment_btn{
text-decoration: none;
font-size: 22px;
background-color: #2674f1;
color: white;
padding: 12px 20px ; 
border-radius: 3px;
position: relative;
top:200px;
left: 480px;
font-size: 20px;





font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.spa{
padding: 20px;
font-size: 30px;
color: black;
}
.info{
display: flex;
justify-content: space-between;
}
.newtag{
text-decoration: none;
font-family:   "Google Sans", Roboto, Arial, Helvetica, sans-serif;


}
#inc{
position: relative;
bottom: 125px;
left: 60px;

}
#pro{
position: relative;



}
#unl{
position: relative;
bottom: 120px;
left: -57px;

}
.pic_2{
display: flex;
justify-content: center;
gap: 50px;
}
.text_ofpic2{
display: flex;
justify-content: center;
gap: 100px;

}
.txt2{
text-decoration: none;
color: black;
font-size: 30px;
padding: 10px;
font-family: "Google Sans", Roboto, Arial, Helvetica, sans-serif;

}

